*{
	margin: 0;
	box-sizing: border-box;
}
.no-scroll{
	overflow: hidden;
}
.menu{
	display: flex;
	justify-content: space-between;
	padding: 0 75px;
	background: #fff;
}
.principal{
	height: 101px;
	align-items: center;
}
#logo{
	font: 22px 'Oswald', sans-serif;
	text-decoration: none;
	color: rgb(3, 13, 20);
	margin-left: 5px;
}
.navegador{
	display: flex;
	align-items: center;
	transition: .25s ease-in-out;
}
.navegador nav{
	padding: 5.5px 0;
}
.navegador nav a{
	text-decoration: none;
	font: 14px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	padding: 8px;
	transition: .4s ease;
}
#activo{
	color: rgb(19, 58, 82);
}
.navegador nav a:hover{
	color: rgb(19, 58, 82);
}
#telefono-1{
	font: 14px/30px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	margin: 0 16px;
}
.navegador ul{
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	margin-left: 3px;
}
.navegador li{
	margin: 0 5px;
	width: 20px;
	text-align: center;
	padding-top: 2px;
}
.navegador li a{
	text-decoration: none;
	color: rgb(3, 13, 20);
	font-size: 16px;
}
.nav-open{
	opacity: 1 !important;
	pointer-events: auto !important;
}
.principal button{
	display: flex;
	align-items: center;
	cursor: pointer;
	background: transparent;
	border: none;
	margin-left: 10px;
}
.principal button:hover p{
	opacity: .7;
}
.principal button i{
	font-size: 22px;
	color: rgb(3, 13, 20);
}
.principal button p{
	font: 14px 'Avenir', sans-serif;
	margin-left: 14px;
	color: rgb(3, 13, 20);
}
.boton-menu{
	padding: 3px 9px;
	cursor: pointer;
	display: none;
	z-index: 1;
}
.boton-menu div{
	width: 22px;
	height: 2px;
	background: rgb(3, 13, 20);
	margin: 7px 0;
	border-radius: 2px;
	transition: .25s ease-in-out;
}
.open #barra-1{
	transform: translateY(9px) rotate(-45deg);
}
.open #barra-2{
	opacity: 0;
}
.open #barra-3{
	transform: translateY(-9px) rotate(45deg);
}
.secundario{
	display: none;
	height: 50px;
	align-items: flex-start;
}
.social-1{
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
}
.social-1 li{
	width: 20px;
	text-align: center;
	margin: 0 5px;
	padding-top: 2px;
}
.social-1 li a{
	text-decoration: none;
	color: rgb(3, 13, 20);
	font-size: 16px;
}
#telefono-2{
	font: 14px/20px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	text-decoration: none;
	transition: .4s ease;
}
#telefono-2:hover{
	color: rgb(19, 58, 82);
}
.final{
	text-align: center;
	padding: 56px 0 32px;
	background: #fff;
}
.final h4{
	font: 18px/22px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	margin-bottom: 20px;
}
.final form{
	width: 410px;
	margin: 0 auto 25px;
}
.final form input{
	width: 100%;
	border: 1px solid rgb(3, 13, 20);
	height: 35px;
	padding: 8px;
	font: 14px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	margin-bottom: 10px;
}
.final form input::placeholder{
	color: rgb(3, 13, 20);
}
.final form input:focus{
	outline: 2px solid #3899ec;
}
.final form button{
	width: 100%;
	height: 35px;
	background: rgb(3, 13, 20);
	color: #fff;
	border: none;
	font: 14px 'Avenir', sans-serif;
	cursor: pointer;
}
#correo{
	text-decoration: none;
	color: rgb(3, 13, 20);
	font: 15px/28px 'Avenir', sans-serif;
}
.final p{
	margin-bottom: 21px;
}
.final p a{
	font: 15px/28px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	text-decoration: none;
}
.social-2{
	list-style: none;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 43px;
}
.social-2 li{
	width: 20px;
	text-align: center;
	margin: 0 5px;
	padding-top: 2px;
}
.social-2 li a{
	text-decoration: none;
	color: rgb(3, 13, 20);
	font-size: 16px;
}
.final h5{
	font: 14px/25px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
}