.banner img{
	height: 1041px;
	width: 100%;
	object-fit: cover;
	position: absolute;
	z-index: -1;
	top: 0;
}
.fondo{
	background: rgba(3, 13, 20, .4);
}
.fondo div{
	width: 820px;
	margin: auto;
	padding: 258px 0 265px;
}
.fondo div h1{
	font: 72px/90px 'Oswald', sans-serif;
	color: rgb(253, 204, 0);
	margin-bottom: 33px;
}
.fondo div p{
	font: 15px/28px 'Avenir', sans-serif;
	color: #fff;
	margin-bottom: 72px;
	width: 476px;
}
.fondo div a{
	background: #fff;
	text-decoration: none;
	font: 15px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	padding: 15px 20px;
	border-radius: 45px;
	transition: .4s ease;
}
.fondo div a:hover{
	background: rgba(255, 255, 255, .6);
}
.programas{
	background: #fff;
	text-align: center;
	padding: 120px 0 139px;
}
.programas h2{
	color: rgb(11, 41, 59);
	font: 40px/54px 'Oswald', sans-serif;
	margin-bottom: 126px;
}
.contenedor-1{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.contenedor-1 div{
	width: 220px;
}
.contenedor-1 div h3{
	color: rgb(11, 41, 59);
	font: 22px/31px 'Oswald', sans-serif;
	margin-bottom: 48px;
}
.contenedor-1 div h4{
	color: rgb(3, 13, 20);
	font: 18px/31px 'Avenir', sans-serif;
	margin-bottom: 35px;
}
.contenedor-1 div p{
	color: rgb(3, 13, 20);
	font: 15px/28px 'Avenir', sans-serif;
	margin-bottom: 51px;
}
.contenedor-1 div a{
	font: 15px/30px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	text-decoration: none;
	transition: .4s ease;
}
.contenedor-1 div a:hover{
	color: rgb(19, 58, 82);
}
.registro{
	background: rgb(253, 204, 0);
	padding: 120px 0 145px;
	text-align: center;
}
.registro h2{
	font: 40px/54px 'Oswald', sans-serif;
	color: rgb(3, 13, 20);
	margin-bottom: 81px;
}
.registro a{
	font: 15px 'Avenir', sans-serif;
	padding: 14px 19px;
	border: 1px solid rgb(3, 13, 20);
	color: rgb(3, 13, 20);
	text-decoration: none;
	border-radius: 45px;
	transition: .4s ease;
}
.registro a:hover{
	background: rgb(3, 13, 20);
	color: rgb(253, 204, 0);
}
.mision{
	display: flex;
	background: rgb(11, 41, 59);
}
.caja-1{
	width: 50%;
	padding-top: 142px;
}
.caja-1 div{
	width: 460px;
	margin: auto;
}
.caja-1 div h2{
	color: rgb(253, 204, 0);
	font: 40px/54px 'Oswald', sans-serif;
	margin-bottom: 32px;
}
.caja-1 div p{
	color: #fff;
	font: 15px/28px 'Avenir', sans-serif;
	margin-bottom: 67px;
}
.caja-1 div a{
	text-decoration: none;
	font: 15px 'Avenir', sans-serif;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 45px;
	padding: 14px 19px;
	transition: .4s ease;
}
.caja-1 div a:hover{
	background: #fff;
	color: rgb(11, 41, 59);
}
.mision video{
	width: 50%;
	height: 580px;
	object-fit: cover;
}
.comentarios{
	text-align: center;
	padding: 100px 0;
	background: #fff;
}
.comentarios h2{
	color: rgb(11, 41, 59);
	font: 40px/54px 'Oswald', sans-serif;
	margin-bottom: 141px;
}
.contenedor-2{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.caja-2{
	width: calc(100%/3);
}
.caja-2 div{
	width: 242px;
}
.izquierda div{
	margin-left: auto;
}
.centro div{
	margin: auto;
}
.derecha div{
	margin-right: auto;
}
.caja-2 div i{
	font-size: 30px;
	color: #0b293b;
	margin-bottom: 71px;
}
.caja-2 div p{
	font: 15px/28px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	margin-bottom: 33px;
}
.caja-2 div h4{
	font: 18px/31px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
}
.contacto{
	background: rgb(253, 204, 0);
	display: flex;
	justify-content: space-around;
	padding: 120px 0 167px;
}
.informacion{
	width: 460px;
}
.informacion h2{
	color: rgb(3, 13, 20);
	font: 40px/54px 'Oswald', sans-serif;
}
.informacion p{
	font: 15px/28px 'Avenir', sans-serif;
	margin: 22px 0;
}
.informacion a{
	text-decoration: none;
	color: rgb(3, 13, 20);
	font: 15px/28px 'Avenir', sans-serif;
}
#telefono-3 a{
	pointer-events: none;
	font: 15px/28px 'Avenir', sans-serif;
}
.formulario{
	width: 460px;
}
.formulario h2{
	display: none;
	color: rgb(3, 13, 20);
	font: 40px/54px 'Oswald', sans-serif;
	margin-bottom: 80px;
}
.formulario div{
	display: flex;
	justify-content: space-between;
}
.formulario div input{
	width: 225px;
	font: 15px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	padding: 3px 3px 3px 12px;
	border: none;
	border-bottom: 1px solid rgb(3, 13, 20);
	background: transparent;
	height: 42px;
	margin-bottom: 10px;
}
.formulario div input::placeholder{
	color: rgb(3, 13, 20);
}
.formulario div input:hover{
	border: 1px solid rgb(3, 13, 20);
}
.formulario div input:focus{
	border: 1px solid rgb(3, 13, 20);
}
.formulario div input:focus-visible{
	outline: none;
}
#sujeto{
	width: 100%;
	font: 15px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	padding: 3px 3px 3px 12px;
	border: none;
	border-bottom: 1px solid rgb(3, 13, 20);
	background: transparent;
	height: 42px;
	margin-bottom: 10px;
}
#sujeto::placeholder{
	color: rgb(3, 13, 20);
}
#sujeto:hover{
	border: 1px solid rgb(3, 13, 20);
}
#sujeto:focus{
	border: 1px solid rgb(3, 13, 20);
}
#sujeto:focus-visible{
	outline: none;
}
.formulario textarea{
	width: 100%;
	resize: none;
	font: 15px/28px 'Avenir', sans-serif;
	color: rgb(3, 13, 20);
	border: none;
	border-bottom: 1px solid rgb(3, 13, 20);
	background: transparent;
	height: 126px;
	padding: 12px 10px 3px 16px;
	margin-bottom: 37px;
}
.formulario textarea::placeholder{
	color: rgb(3, 13, 20);
}
.formulario textarea:hover{
	border: 1px solid rgb(3, 13, 20);
}
.formulario textarea:focus{
	border: 1px solid rgb(3, 13, 20);
}
.formulario textarea:focus-visible{
	outline: none;
}
.formulario button{
	width: 100%;
	border: none;
	background: rgb(3, 13, 20);
	color: #fff;
	font: 18px 'Avenir', sans-serif;
	height: 50px;
	cursor: pointer;
	transition: .4s ease;
}
.formulario button:hover{
	background: rgba(3, 13, 20, .6);
}