@media only screen and (max-width: 900px){
	#logo{
		margin: 0;
	}
	#telefono-1{
		display: none;
	}
	.navegador ul{
		display: none;
	}
	.secundario{
		display: flex;
	}
}
@media only screen and (max-width: 680px){
	.menu{
		padding: 0 20px;
	}
	.navegador nav{
		width: calc(100% - 40px);
	}
	.principal{
		height: 76px;
	}
	#logo{
		font-size: 20px;
	}
	.navegador{
		position: fixed;
		flex-direction: column;
		background: #fff;
		top: 0;
		left: 0;
		text-align: center;
		width: 100%;
		height: 100vh;
		opacity: 0;
		pointer-events: none;
	}
	.navegador nav{
		display: flex;
		flex-direction: column;
		order: 1;
		padding: 0;
	}
	.navegador nav a{
		font-size: 20px;
		padding: 13px;
	}
	.principal button{
		margin: 31.5px 0 11px;
		padding: 8px;
	}
	.principal button p{
		font-size: 15px;
	}
	.boton-menu{
		display: block;
	}
	.secundario{
		height: 44px;
	}
	#telefono-2{
		font-size: 12px;
	}
	.final{
		padding: 49px 0 3px;
	}
	.final form{
		margin-bottom: 17px;
	}
	.final p{
		margin-top: 14px;
	}
	.final p a{
		font-size: 14px;
		line-height: 26px;
	}
	#correo{
		font-size: 14px;
		line-height: 26px;
	}
	.social-2{
		margin-bottom: 21px;
	}
}
@media only screen and (max-width: 500px){
	.final form{
		width: calc(100% - 60px);
	}
}