@media only screen and (max-width: 1040px){
	.fondo div{
		width: 480px;
		margin: auto;
	}
	.programas{
		padding-bottom: 0;
	}
	.contenedor-1 div{
		width: 50%;
		margin-bottom: 139px;
	}
	.caja-1 div{
		width: calc(100% - 40px);
	}
	.contacto{
		flex-direction: column;
		text-align: center;
		padding-bottom: 120px;
	}
	.informacion{
		margin: auto;
		order: 1;
	}
	.informacion h2{
		display: none;
	}
	#telefono-3{
		margin-bottom: 0;
	}
	#telefono-3 a{
		pointer-events: auto;
	}
	.formulario{
		margin: 0 auto 100px;
	}
	.formulario h2{
		display: block;
	}
}
@media only screen and (max-width: 900px){
	.banner img{
		height: 1091px;
	}
	.comentarios{
		padding-bottom: 0;
	}
	.caja-2{
		width: 50%;
		margin-bottom: 100px;
	}
	.caja-2 div{
		width: 300px;
		margin: auto;
	}
}
@media only screen and (max-width: 680px){
	.banner img{
		height: 700px;
	}
	.fondo div{
		padding: 101px 0 113.5px;
		width: calc(100% - 80px);
	}
	.fondo div h1{
		font-size: 28px;
		line-height: 35px;
		margin-bottom: 15px;
	}
	.fondo div p{
		font-size: 14px;
		line-height: 26px;
		width: 100%;
		margin-bottom: 26.5px;
	}
	.fondo div a{
		font-size: 14px;
	}
	.contenedor-1 div{
		width: calc(100% - 20px);
	}
	.programas{
		padding: 45px 0 1px;
	}
	.programas h2{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 44px;
	}
	.contenedor-1 div{
		margin-bottom: 44px;
	}
	.contenedor-1 div h3{
		font-size: 20px;
		line-height: 28px;
		margin-bottom: 15px;
	}
	.contenedor-1 div h4{
		font-size: 15px;
		line-height: 26px;
		margin-bottom: 12px;
	}
	.contenedor-1 div p{
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 14px;
	}
	.contenedor-1 div a{
		font-size: 14px;
	}
	.registro{
		padding: 45px 20px 60px;
	}
	.registro h2{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.registro a{
		font-size: 14px;
	}
	.mision{
		flex-direction: column;
	}
	.caja-1{
		width: 100%;
		order: 1;
		text-align: center;
		padding: 45px 0 60px;
	}
	.caja-1 div h2{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 15px;
	}
	.caja-1 div p{
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 28px;
	}
	.caja-1 div a{
		font-size: 14px;
	}
	.mision video{
		width: 100%;
		height: 300px;
	}
	.comentarios{
		padding: 45px 0;
	}
	.comentarios h2{
		font-size: 24px;
		line-height: 32px;
		margin: 0;
	}
	.caja-2{
		width: 100%;
		margin: 0;
	}
	.caja-2 div{
		width: calc(100% - 40px);
	}
	.caja-2 div i{
		font-size: 40px;
		margin: 55px 0 54px;
	}
	.caja-2 div p{
		font-size: 14px;
		line-height: 26px;
		margin-bottom: 11px;
	}
	.caja-2 div h4{
		font-size: 15px;
		line-height: 26px;
	}
	.contacto{
		padding: 45px 0;
	}
	.informacion{
		width: calc(100% - 20px);
	}
	.informacion p{
		font-size: 14px;
		line-height: 26px;
	}
	#telefono-3 a{
		font-size: 14px;
		line-height: 26px;
	}
	.formulario{
		margin-bottom: 32px;
	}
	.formulario h2{
		font-size: 24px;
		line-height: 32px;
		margin-bottom: 30px;
	}
	.formulario textarea{
		margin-bottom: 10px;
	}
	.formulario button{
		height: 42px;
		font-size: 17px;
	}
}
@media only screen and (max-width: 500px){
	.formulario{
		width: calc(100% - 20px);
	}
	.formulario div{
		flex-direction: column;
	}
	.formulario div input{
		width: 100%;
	}
}