@media screen and (max-width: 1280px){
	.contenedor-admision div{
		width: 100%;
	}
}
@media screen and (max-width: 1130px){
	/*.mision h1{
		padding: 60px;
	}*/
	.mision div{
		padding: 65px;
		width: 100%;
	}
	.contenedor-admision{
		padding: 65px;
		padding-bottom: 80px;
	}
	.personal{
		padding: 65px 0;
	}
	/*.personal h1{
		margin-bottom: 65px;
	}*/
	.contenedor-personal div{
		width: 50%;
	}
	.contenedor-personal div:nth-child(1), .contenedor-personal div:nth-child(2), .contenedor-personal div:nth-child(3), .contenedor-personal div:nth-child(4){
		margin-bottom: 50px;
	}
	#imagen-personal-1, #imagen-personal-2, #imagen-personal-3, #imagen-personal-4, #imagen-personal-5{
		height: 330px;
	}
	.contenedor-personal div:nth-child(5){
		margin: auto;
	}
}
@media screen and (max-width: 890px){
	.admision{
		flex-direction: column;
	}
	.contenedor-admision{
		order: 1;
		width: 100%;
		text-align: center;
	}
	.contenedor-admision div p{
		margin-bottom: 40px;
	}
	#imagen-admision{
		order: 0;
		width: 100%;
		height: 320px;
	}
}
@media screen and (max-width: 570px){
	/*.mision h1, */.mision div{
		padding: 45px 30px;
	}
	/*.mision h1{
		font-size: 60px;
	}*/
	.contenedor-admision{
		padding: 45px 30px 60px 30px;
	}
	.contenedor-admision div h1{
		font-size: 30px;
		/*margin-bottom: 25px;*/
	}
	.personal{
		padding: 45px 0;
	}
	.personal h1{
		font-size: 30px;
		/*margin-bottom: 45px;*/
	}
	.contenedor-personal div{
		width: 100%;
	}
	.contenedor-personal div:nth-child(1), .contenedor-personal div:nth-child(2), .contenedor-personal div:nth-child(3){
		margin-bottom: 45px;
	}
	.contenedor-personal div h2{
		margin: 45px 0 20px 0;
	}
	.contenedor-personal div h3{
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 425px){
	/*.mision h1{
		font-size: 40px;
	}*/
}
@media screen and (max-width: 340px){
	.mision h1{
		font-size: 30px;
	}
}