footer{
	color: white;
}
footer img{
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.information{
	background: rgb(50, 50, 50);
	font-family: arial, sans-serif;
	padding: 20px;
	display: flex;
	justify-content: center;
	font-size: 15px;
}
.column-1 div, .column-2 div, .column-3 div{
	display: block;
	padding: 10px;
}
.column-1, .column-2, .column-3{
	max-width: 500px;
	padding: 10px;
}
.column-2 img:hover{
	opacity: 0.5;
	transition: all 0.3s ease;
}
.information h2{
	margin-bottom: 10px;
}
@media(max-width: 1100px){
	.information{
		flex-wrap: wrap;
	}
	.column-2, .column-3{
		margin-top: 20px;
	}
}
.copyright{
	background: black;
	font-family: monospace;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.copyright a{
	color: rgb(100, 100, 100);
	text-decoration: none;
	transition: all 0.3s ease;
}
.copyright a:hover{
	color: white;
}
@media(max-width: 900px){
	.copyright{
		flex-direction: column;
		text-align: center;
	}
}