*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /*border: 1px solid black;*/
}

body{
    font-family: 'open sans';
}

/* Scrolling bar */
body::-webkit-scrollbar{
    width: 9px;
    background: #dcecf9;
}

body::-webkit-scrollbar-thumb{
    background: #0056D2;
    border-radius: 10px;
    border-right: 1px solid #dcecf9;
}

.contenedor{
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    font-family: 'Roboto Condensed', sans-serif;
    color: #FF6347;
    font-size: 37px;
    text-align: center;
    margin-bottom: 5px;
}

.tittle-style {
    position: relative;
}

.tittle-style:before {
    content: "";
    background: #000;
    width: 13%;
    height: 1px;
    position: absolute;
    top: 0;
    left: 43%;
}

.tittle-style:after {
    content: "";
    background: #0056D2;
    width: 5%;
    height: 5px;
    position: absolute;
    top: -2px;
    left: 47%;
    border-radius: 6px;
}

.mision{
	text-align: center;
}
.mision h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin: 70px 0 5px 0;
}
.mision div{
	font-size: 14px;
	color: #505050;
	width: 1000px;
	margin: auto;
	padding: 70px 0;
}
.mision div p{
	line-height: 200%;
}
.mision div p:nth-child(2){
	margin: 30px 0;
}
.admision{
	background: #f2f2f2;
	display: flex;
}
.contenedor-admision{
	width: 50%;
	padding: 100px;
}
.contenedor-admision div{
	width: 440px;
	text-align: center;
	margin: auto;
}
.contenedor-admision div h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin-bottom: 5px;
}
.contenedor-admision div p{
	font-size: 14px;
	color: #505050;
	margin: 35px 0 50px 0;
	line-height: 200%;
}
.contenedor-admision div a{
	font-family: 'Roboto Condensed', sans-serif;
	text-decoration: none;
	color: #fff;
	padding: 15px 20px;
	border-radius: 3px;
	font-size: 20px;
	background: #0056d2;
	box-shadow: 0 0 6px 0;
}
.contenedor-admision div a:hover{
	background-color: #00419E;
}
#imagen-admision{
	background-image: url(../imagenes/imagen-admision.jpg);
	background-size: cover;
	background-position: center;
	width: 50%;
}
.personal{
	text-align: center;
	padding: 70px 0;
}
.personal h1{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 37px;
	color: #ff6347;
	margin-bottom: 5px;
}
.contenedor-personal{
	display: flex;
	flex-wrap: wrap;
}
.contenedor-personal div{
	width: 20%;
}
#imagen-personal-1{
	background-image: url(../imagenes/personal-1.jpg);
}
#imagen-personal-2{
	background-image: url(../imagenes/personal-2.jpg);
}
#imagen-personal-3{
	background-image: url(../imagenes/personal-3.jpg);
}
#imagen-personal-4{
	background-image: url(../imagenes/personal-4.jpg);
}
#imagen-personal-5{
	background-image: url(../imagenes/personal-5.jpg);
}
#imagen-personal-1, #imagen-personal-2, #imagen-personal-3, #imagen-personal-4, #imagen-personal-5{
	background-size: cover;
	width: 100%;
	height: 450px;
	background-position: center;
}
.contenedor-personal div h2{
	font-family: 'Roboto Condensed', sans-serif;
	margin: 50px 0;
	color: #0056d2;
	font-size: 23px;
}
.contenedor-personal div h3{
	font-size: 17px;
	margin-bottom: 30px;
}
.contenedor-personal div a{
	text-decoration: none;
	color: #505050;
	font-size: 14px;
}